$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

@import 'partials/trackingView';
@import 'partials/mapView';

body {
  margin: 0 auto;
  width: 1050px;
}

#view-container {
  display: inline-flex;
  border: 3px solid #333333;
  border-radius: 15px;
}
