$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// Variables------------------------------
$pastel-grey: #CFCFC4;
$pastel-dark-red: #C23B22;

// Imports--------------------------------
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

@import 'partials/trackingView';
@import 'partials/mapView';
@import 'partials/navbar';

// Style----------------------------------
html {
  width:100%;
  height:100%;
  background: $pastel-grey url(../../images/spin.gif) no-repeat center center;
}

body {
  margin: 0 auto;
  width: 1050px;
  background: $pastel-grey;
}

#app-container {
  margin-top: 5%;
}

#view-container {
  display: inline-flex;
  border-radius: 15px;
}

